@import '../../mixins';

.section {

  &__container {
    display: flex;
    padding: 0 15px;
    margin: 20px 0 80px;
    flex-wrap: wrap;
    
    @media (min-width: $screen-sm-min) {
      padding: 0;
      justify-content: space-between;
    }
  }

  &__padded {
    @media (min-width: $screen-sm-min) {
      margin: 170px 0;
    }
  }

  &__column-left {
    @media (min-width: $screen-sm-min) {
      max-width: 50%;
    }
  }

  &__column-right {
    @media (min-width: $screen-sm-min) {
      max-width: 50%;
    }

    &.padded {
      padding: 0 10% 0 0;
    }
  }

  &__column-tight {
    @media (min-width: $screen-sm-min) {
      padding: 0 16%;
    }
  }

  &__header {
    font-size: $text-4xl;
    line-height: $line-height-xl;
  
    @media (min-width: $screen-sm-min) {
      font-size: $text-5xl;
      line-height: $line-height-2xl;
    }

    &-container {    
      margin: 20px 0 50px;

      @media (min-width: $screen-sm-min) {
        display: flex;
        justify-content: center;
        margin-bottom: 15%;
      }
    }
  }

  &__image-container {
    img {
      width: calc(100vw - 30px);
      border-radius: $border-radius-base;
      filter: drop-shadow(10px 10px 40px rgba(0, 0, 0, 0.15));
      mix-blend-mode: normal;
  
      @media (min-width: $screen-sm-min) {
        max-width: 612px;
      }
    }
  }

  &__subheader {
    font-size: $text-lg;
    line-height: 26px;
  
    @media (min-width: $screen-sm-min) {
      font-size: $text-3xl;
      line-height: $line-height-xl;
    }

    &-container {
      margin: 20px 0;
    }

    &-underline {
      width: 96px;
      border: 1px solid $blue;
      margin: 10px 0;
    }
  }

  &__content {
    font-size: $text-base;
    font-family: $font-family-secondary;
    line-height: $line-height-base;
    margin-bottom: 30px;
  }
}
